<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" type="image/ico" href="../../assets/images/cocktail.png" />
  </head>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1540224769541-7e6e20a42330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);">
    <div class="container">
      <h1>COCK 🐔 tails!</h1>
      <h4><strong>DRINK UP!!</strong>!</h>
      <p>
        <span id="banner-typed-text"></span>
      </p>
    </div>
  </div>
  <body>
    <%= yield %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
  <div class="footer">
    <div class="footer-links">
      <a href="https://www.instagram.com/explore/tags/drunk/?hl=en"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/DrunkMemes/"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/drunkhistory?lang=en"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright">
      GET FU(*&*%^ ALL THE TIME!!<i class="far fa-glass-citrus"></i>
    </div>
  </div>
</html>
